  {{- if has .chezmoi.hostname .hostnames.work }}
# work stuff
alias brails="bundle exec rails"
alias bserver="bundle exec rails server"
alias brspec="bundle exec rspec"
alias brubocop="bundle exec rubocop"
alias ccc="cocam console"
alias cuf="cocam update fast"
alias drake="dip rake"
alias drspec="dip rspec"
  {{- end }}

  {{- if has .chezmoi.hostname .hostnames.personal }}
# personal laptop stuff
alias netflix="chromium --app=https://netflix.com"
alias nm-restart="sudo service NetworkManager restart"
alias plex="chromium --app=https://app.plex.tv/desktop"
alias vc="veracrypt -t -k '' --pim=0 --protect-hidden=no"
alias vg="vagrant"
  {{- end }}

# universal stuff
alias c=clear
alias cm="chezmoi -v"
alias delete_older_than_3_days="find . -mtime +3 -delete"
alias dc=docker-compose
alias fuck='sudo $(history -p \!\!)'
alias g='git'
alias i="cd && irb"
alias image="kitten icat"
extract () {
   if [ -f $1 ] ; then
       case $1 in
           *.tar.bz2)   tar xvjf $1;;
           *.tar.gz)    tar xvzf $1;;
           *.bz2)       bunzip2 $1 ;;
           *.rar)       unrar x $1 ;;
           *.gz)        gunzip $1  ;;
           *.tar)       tar xvf $1 ;;
           *.tbz2)      tar xvjf $1;;
           *.tgz)       tar xvzf $1;;
           *.zip)       unzip $1   ;;
           *.Z)         uncompress $1  ;;
           *.7z)        7z x $1;;
           *) echo "don't know how to extract '$1'..." ;;
       esac
   else
       echo "'$1' is not a valid file!"
   fi
}
alias largest-dir="du -sx ./* 2>/dev/null | sort -n"
alias lg="lazygit"
alias ll="ls -lht --color"
alias lla="ls -laht --color"
alias mitm='mitmproxy --set console_focus_follow=true --set ssl_insecure=true --view-filter '\''!~a'\'
function my-rg() {
    rg $1 -g "!{/log,/public}" --no-follow ./
}
alias notes="NVIM_APPNAME=nvim-notes nvim"
alias o="open"
alias oc="opencode"
alias p='ping -s -v'
alias ssh-proxy="ssh -v -4 -D 52804 -N"
alias sudo='sudo -p "Ah ah ah, didnt say the magic word: "'
alias tf=terraform
alias tree-all="tree -a -I '.git|logs'"
alias v=nvim
alias vim=nvim
