# TMUX stuff
if [ "$TMUX" = "" ]; then tmux; fi

# General ZSH stuff
HISTFILE=~/.histfile
HISTSIZE=10000
SAVEHIST=10000
path+=('/home/csw/bin')
source "$HOME/.aliases"

# Defaults
EDITOR='nvim'

# Oh My ZSH stuff
export ZSH="$HOME/.oh-my-zsh"
{{- if eq .chezmoi.hostname "solid-study" }}
ZSH_THEME="robbyrussell"
{{- else if eq .chezmoi.hostname "greasy-gold" }}
ZSH_THEME="xxf"
{{- else }}
ZSH_THEME="robbyrussell"
{{- end}}
plugins=(git)
source $ZSH/oh-my-zsh.sh
{{- if stat (joinPath .chezmoi.homeDir ".asdf") }}
. $HOME/.asdf/asdf.sh
{{- end}}
