return {
  "obsidian-nvim/obsidian.nvim",
  version = "*", -- use latest release, remove to use latest commit
  ft = "markdown",
  cmd = { "Obsidian" },
  ---@module 'obsidian'
  ---@type obsidian.config
  opts = {
    legacy_commands = false, -- this will be removed in the next major release
    workspaces = {
      {
  {{- if has .chezmoi.hostname .hostnames.work }}
        name = "cocam-notes",
        path = "~/repos/shaun-garwood-notes",
  {{- else }}
        name = "all-my-vault",
        path = "~/Documents/all my vault",
  {{- end }}
      },
    },
  },
}
