return {
  "obsidian-nvim/obsidian.nvim",
  version = "*", -- use latest release, remove to use latest commit
  ft = "markdown",
  cmd = { "Obsidian" },
  ---@module 'obsidian'
  ---@type obsidian.config
  opts = {
    legacy_commands = false, -- this will be removed in the next major release
    workspaces = {
      {
  {{- if has .chezmoi.hostname .hostnames.work }}
        name = "cocam-notes",
        path = "~/repos/shaun-garwood-notes",
  {{- else }}
        name = "all-my-vault",
        path = "~/vaults/all-my-vault",
  {{- end }}
      },
    },
    completion = {
      nvim_cmp = true,
      min_chars = 2,
    },
    daily_notes = {
      folder = "daily",
      date_format = "%Y-%m-%d",
      template = "daily-template.md",
    },
    templates = {
      folder = "templates",
      date_format = "%Y-%m-%d",
    },
  },
  config = function(_, opts)
    require("obsidian").setup(opts)
    vim.api.nvim_create_autocmd("FileType", {
      pattern = "markdown",
      callback = function()
        vim.opt_local.conceallevel = 2
      end,
    })
  end,
}
