## Fonts
# kitty --debug-font-fallback
font_family   0xProto Nerd Font
  {{- if has .chezmoi.hostname .hostnames.work }}
font_size 14
  {{- else }}
font_size 10
  {{- end }}
map ctrl+equal  change_font_size all +2.0
map ctrl+minus  change_font_size all -2.0

# Window
window_margin_width 3
window_border_width 2pt

# Background
background_image ./wallpapers/dark-dunes.png
background_image_layout scaled
  {{- if has .chezmoi.hostname .hostnames.work }}
background_tint 0.40
  {{- else }}
background_tint 0.69
  {{- end }}
background_tint_gaps -10.0

# Cursor
cursor_trail 1

# Tab bar
tab_bar_style powerline
tab_bar_edge top
tab_title_max_length 25
tab_title_template "({num_windows}){bell_symbol}{activity_symbol}{fmt.fg.tab}{title}"

# Theme
include adapta-nokto-maia-theme.conf
# include one-half-light.conf

# Theme overrides
active_border_color       #3d6c31
