#!/bin/bash

{{- if has .chezmoi.hostname .hostnames.work }}
REPO_URL="https://github.com/CompanyCam/shaun-garwood-notes.git"
{{- else }}
REPO_URL="https://github.com/shaungarwood/notes.git"
{{- end }}
DIR="$HOME/repos/notes"

if [ ! -d "$DIR" ]; then
  mkdir -p "$DIR"
  git clone "$REPO_URL" "$DIR"
else
  echo "Directory $DIR already exists."
fi
